<h2 class="text text-center text-primary mt-4"> Nuestra Tienda de productos</h2>


<div class="row">
    @for (producto of productos; track $index) {
        <div class="col-4 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Precio: {{ producto.precio }}</p>
                    <img [src]="producto.imagen_url" alt="{{ producto.nombre }}" style="width: 100px; height: 100px;">
                    <button class="btn btn-primary" (click)="onAddCart(producto)">Agregar al Carro</button>
                </div>
            </div>
        </div>
    }
</div>
