<div class="container mt-4">
    <h1 class="text-primary">Contáctenos</h1>
    <p>Déjanos un mensaje y te responderemos lo antes posible.</p>
  
    <form (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input id="name" [(ngModel)]="name" name="name" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico:</label>
        <input id="email" [(ngModel)]="email" name="email" type="email" class="form-control" required>
      </div>
  
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje:</label>
        <textarea id="message" [(ngModel)]="message" name="message" class="form-control" rows="4" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  